<ion-header>
  <ion-navbar>
    <ion-title>
      Recente -
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let c of (compras|async)?.slice().reverse()" >
      <ion-item>
        <ion-icon item-start name="pizza"></ion-icon>
        <h1>{{c.title}}</h1>
        <h2>R${{c.payload}} - {{c.categoria}} </h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="goToSingle(c)" >
          <ion-icon name="create" ></ion-icon>
          Edit
        </button>
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delf
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <button ion-item *ngFor="let c of (compras|async)?.slice().reverse()" (click)="goToSingle(c)">
      {{c.title}} - {{c.payload}}  
    </button>
  </ion-list>

  <button ion-button (click)="somando2()">{{soma}}</button>
  


</ion-content>
