<ion-header>
  <ion-navbar>
    <ion-title>
      Recente
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToTudo()">
        <ion-icon name="infinite"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>

<ion-content>
  
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-list>
      <div >
      <ion-list-header *ngFor="let a of varredura">{{a}}
        <div *ngFor="let c of (compras | async )"> 
        <ion-item-sliding *ngIf = "([c.ano,c.mes].join(' - ')) == a">
          <ion-item class="altura">
            <ion-icon *ngIf="(c.categoria.includes('Divida'))" item-start name="contacts" color="grey"></ion-icon>
            <ion-icon item-start color="{{cor(c.categoria)}}" [name]=(icon(c.categoria))></ion-icon>
             <ion-grid>
              <ion-row>
                <ion-col col-9>
                  <h2>{{c.title}}</h2>
                  <h3>{{c.categoria}} - {{c.pagamento}} </h3>
                </ion-col>
                <ion-col col-3>
                  <ion-row justify-content-center>
                    <p class="dia">€{{c.payload}}</p>
                  </ion-row>
                  <ion-row justify-content-center>
                    <h2 class ="dia2">{{dia(c.data)}}/{{c.mes}} </h2>
                  </ion-row>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="goToSingle(c)" >
              <ion-icon name="create" ></ion-icon>
              Edit
            </button>
            <button ion-button color="danger"(click)="remover(c)">
              <ion-icon name="trash"></ion-icon>
              Del
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
      </ion-list-header>
      </div>
    </ion-list>
</ion-content>
