page-previsão {

    .botao{
        width: 100%;

    }

    .center{
        justify-content: center;
        text-align: center;
        width: 100%;
        color: aqua;
        justify-items: center;
    }

}
