<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-grid>

      <ion-row>
          <ion-item>
              <ion-label fixed>Data: </ion-label>
              <ion-input text-right clearInput="true" autocomplete="on" value="" [(ngModel)]="compras.data"></ion-input>
            </ion-item>
      </ion-row>

    <ion-row>
        <ion-item>
            <ion-label fixed>Local: </ion-label>
            <ion-input text-right clearInput="true" autocomplete="on" value="" [(ngModel)]="compras.title"></ion-input>
          </ion-item>
    </ion-row>
  
    <ion-row>
      <ion-item>
          <ion-label fixed>Valor:</ion-label>
          <ion-input text-right type="number" clearInput="true" value="" [(ngModel)]="compras.payload"></ion-input>
        </ion-item>
    </ion-row>
    
    <ion-row>
      <ion-item> 
        <ion-label>Pagamento</ion-label >
        <ion-select [(ngModel)]="compras.pagamento" interface="popover" >
          <ion-option *ngFor="let pagamento of pagamentos">{{pagamento.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item> 
          <ion-label>Categoria</ion-label >
          <ion-select [(ngModel)]="compras.categoria" interface="popover" >
            <ion-option *ngFor="let categoria of categorias" value="{{categoria.title}}">{{categoria.title}}</ion-option>
          </ion-select>
        </ion-item>
    </ion-row>

    <ion-row>
      <ion-item no-lines>

      </ion-item>
    </ion-row>

    <ion-row justify-content-center>
      <button ion-button round (click)="update(compras)">Atualizar compra</button>
      <button ion-button round color="danger" (click)="remove(compras)">  Deletar compra  </button>
    </ion-row>
  </ion-grid>
      
</ion-content>

