page-home {

    .btn {
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1.5px solid;
    }

  .btn2 {
    display:block;
    height: 60px;
    width: 60px;
    border-radius: 40%;
    border: 1.5px solid;
    font-size: 10px;
  
    }

  .btn3 {
    display:block;
    height: 50px;
    width: 80px;
    border: 1.5px solid;
    font-size: 11px;
    margin: 10px;

  }

  .input{
      text-align: right;
      justify-content: right;

  }

  .main-content {
    height: 100%;
  }

  .paragrafo{
    padding-block-start: 10px;
    padding-inline-start: 10px;
  }

  .badge{
    padding: 0.3rem 0.3em 0.3rem 0.3rem;
    margin: 1rem 0em 0rem 0rem;
    background-color: black;
  }



  .progress {
    position: relative;
    height: 9px;
    display: block;
    width: 100%;
    background-color: grey;
    border-radius: 3px;
    background-clip: padding-box;
    padding: 0.7rem 0.1em 0.1rem 0.0rem;
    margin: 1.7rem 0.1rem 0.1rem 0.1rem;
    overflow: hidden; }
    .progress .determinate1 {
      position: absolute;
      background-color: inherit;
      top: 0;
      bottom: 0;
      background-color: #2f6acf;
      transition: width .7s linear; }
    .progress .determinate2 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #23509c;
    transition: width .8s linear; }
                
.progress2 {
  position: relative;
  height: 9px;
  display: block;
  width: 100%;
  background-color: grey;
  border-radius: 2px;
  background-clip: padding-box;
  padding: 0.5rem 0.3em 0.3rem 0rem;
  margin: 1.25rem 0.3em 0.3rem 0.3rem;
  overflow: hidden; }
  .progress2 .determinate1 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #2f6acf;
    transition: width .7s linear; }
  .progress2 .determinate2 {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #23509c;
  transition: width .8s linear; }
       
          
}
