<ion-header>
  <ion-navbar>
    <ion-title>Inserir</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="NavConfirg()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>
  <div class="main-content" (swipe)="swipe($event)">


  <ion-grid>
    <ion-row> 
        <ion-item>
            <ion-label fixed>Local: </ion-label>
            <ion-input text-right clearInput="true" autocomplete="on" (keyup.enter)="moveFocus(b)" value="" [(ngModel)]="compras.title"></ion-input>
          </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
          <ion-label fixed>Valor:</ion-label>
          <ion-input  text-right type="number" clearInput="true" value="" #b  [(ngModel)]="compras.payload"></ion-input>
        </ion-item>
    </ion-row>
    
    <ion-row>
      <ion-item (press)="Favorito()"> 
        <ion-label>Pagamento</ion-label >
        <ion-select #c [(ngModel)]="compras.pagamento" interface="popover">
          <ion-option *ngFor="let pagamento of pagamentos">{{pagamento.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item> 
          <ion-label>Categoria</ion-label >
          <ion-select [(ngModel)]="compras.categoria" interface="popover" >
            <ion-option *ngFor="let categoria of categorias" value="{{categoria.title}}">{{categoria.title}}</ion-option>
          </ion-select>
        </ion-item>
    </ion-row>

    <ion-row>
      <ion-item no-lines>

      </ion-item>
    </ion-row>

    <ion-row justify-content-center>
        <button class="btn3" ion-button round outline (click)="ontem(compras)">Ontem</button>
        <button class="btn3" ion-button round (click)="save(compras)">Adicionar</button>
    </ion-row>
  </ion-grid>

  <div *ngIf = "show == true">
    <ion-grid>
      <ion-row justify-content-center >
        <ion-col col-2 *ngFor="let atalho of (atalhos |  async)">
          <button class="btn2" ion-button outline (click)="saveAtalho(compras,atalho)" (press)="atalhoPush(atalho)">{{atalho.title}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-card ngFor="let prev of (previsto | async)">
    Oi - Testando
  </ion-card>



</div>
</ion-content>
