page-home {

    .btn {
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1.5px solid;
  
    }

    .input{
        text-align: right;
        justify-content: right;

    }

    .main-content {
        height: 100%;
      }

}
