<!--
  Generated template for the AnalisePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Análise </ion-title>
    <ion-buttons end  *ngFor="let f of (ShowTarefas | async) " >
        <button *ngIf="f.title == 'Dividas'" ion-button icon-only color="{{CorIfTrue(f.check)}}" (click)="ChangeCheckTarefas(f)">
          <ion-icon name="list-box"></ion-icon>
        </button>
      <button ion-button icon-only (click)="atualiza()">
        <ion-icon name="sync"></ion-icon>
      </button>
        <button ion-button icon-only (click)="previsao(ComprasArray)">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let f of (ShowTarefas | async) ">
      <ion-card no-padding *ngIf="f.check == true">
        <ion-card-header> Dividas </ion-card-header>
        <ion-grid>
            <ion-row>
              <ion-col>
                Categoria
              </ion-col>
              <ion-col>
                Gasto
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let divs of ArrayDividas">
                <ion-col >
                    {{divs}}
                  </ion-col>
                  <ion-col>
                    {{somaCatDiv(divs)}}
                  </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>
  </div>





  
  <div class="main-content" (swipe)="swipe($event)">
    <ion-card *ngFor = "let prev of (previsto | async)">
      <ion-row>
        <ion-col col-10>
          <ion-card-header> {{prev.total}} </ion-card-header>  
        </ion-col>
        <ion-col col-2>
        <ion-buttons end>
          <button ion-button icon-only end clear (click)="grafico(prev,prev.total,compras,ComprasArray)">
          <ion-icon name="stats"></ion-icon></button>
        </ion-buttons>
        </ion-col>
      </ion-row>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            Categoria
          </ion-col>
          <ion-col>
            Previsto
          </ion-col>
          <ion-col>
            Gasto
          </ion-col>
        </ion-row>

        <div *ngFor = "let keyy of retornaKeys(prev)">
          <ion-row *ngIf="keyy != 'key' && keyy != 'total' && keyy != 'ano' && keyy != 'mes'"  (click)="goToAnalise(prev.total,keyy)">
            <ion-col>
                {{keyy}}
            </ion-col>
            <ion-col>
                {{prev[keyy]}}
            </ion-col>
            <ion-col>
                {{somaCat(keyy,prev.total)}}
            </ion-col>  
          </ion-row>
        </div>

        <ion-row>
            <ion-col>
              Total
            </ion-col>
            <ion-col>
              {{retornaArray(prev)}}
            </ion-col>
            <ion-col>
              {{somaTotal(prev.total)}}
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let pagamento of pagamentos" (click)="goToAnalisePag(prev.total,pagamento.title)">
            <ion-col>
              {{pagamento.title}}
            </ion-col>
            <ion-col>
                {{somaPagamento(pagamento.title, prev.total)}}
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-3 justify-content-center>
            <ion-row style="height:20px" justify-content-center>Sem 1</ion-row>
            <ion-row justify-content-center>{{somaSemana(1,prev.total)}}</ion-row>
          </ion-col>

          <ion-col col-3 justify-content-center>
            <ion-row style="height:20px" justify-content-center>Sem 2</ion-row>
            <ion-row justify-content-center>{{somaSemana(2,prev.total)}}</ion-row>
          </ion-col>

          <ion-col col-3 justify-content-center>
            <ion-row style="height:20px" justify-content-center>Sem 3</ion-row>
            <ion-row justify-content-center>{{somaSemana(3,prev.total)}}</ion-row>
          </ion-col>

          <ion-col col-3 justify-content-center>
            <ion-row style="height:20px" justify-content-center>Sem 4</ion-row>
            <ion-row justify-content-center>{{somaSemana(4,prev.total)}}</ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card>
  </div>
</ion-content>
