page-analise {
    .main-content {
        height: 100%;
      }
    
    .chart{ 
      height: 50vh;

    }

    .center{
      width: 100%;
      justify-content: center !important;
      text-align: center !important;
      align-self: center !important;
    }

    .titulo{
      font-size: 16px;
    }
}
