<!--
  Generated template for the AnaliseCategoriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Analise da categoria</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-list>
      <div >
        <ion-list-header >{{dataEnviada}}
        <div *ngFor="let c of (compras | async )"> 
            <ion-item-sliding *ngIf = "([c.ano,c.mes].join(' - ')) == dataEnviada && c.categoria == categoriaEnviada">
              <ion-item class="altura">
            <ion-icon item-start [name]=(icon(c.categoria))></ion-icon>
             <ion-grid>
              <ion-row>
                <ion-col col-9>
                  <h2>{{c.title}}</h2>
                  <h3>{{c.categoria}} - {{c.pagamento}} </h3>
                </ion-col>
                <ion-col col-3>
                  <ion-row justify-content-center>
                    <p class="dia">€{{c.payload}}</p>
                  </ion-row>
                  <ion-row justify-content-center>
                    <h2 class ="dia2">{{dia(c.data)}}/{{c.mes}} </h2>
                  </ion-row>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="goToSingle(c)" >
              <ion-icon name="create" ></ion-icon>
              Edit
            </button>
            <button ion-button color="danger"(click)="remover(c)">
              <ion-icon name="trash"></ion-icon>
              Del
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
      </ion-list-header>
      </div>
    </ion-list>
</ion-content>




